.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 12rem;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2000;
  height: 56px;
}

.iconButtonContainer {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.menuButton {
  display: none;
}

.nav {
  display: flex;
}

/* Smaller desktop */
@media (max-width: 1100px) {
  .header {
    padding: 0.5rem 5rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .header {
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  .menuButton {
    display: block;
  }
  .nav {
    display: none;
  }
}
